/* Design de de la page */

/* style général: */  
body {
    font-family: 'Arial', sans-serif;
    background-color: f4f7fc;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*cadre du formulaire */
.form-conainer {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 500px;
}

/*Titre du formulaire */ 
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
}

/*Style des labels */
label{
    font-size: 16px;
    color: #555;
    display: block;
    margin-bottom: 8px;
}

/* Style des champs de formulaire */
input[type="number"],
input[type="color"],
button {
    margin-bottom: 20px;
    border: 2px solid 3ddd;
    border-radius: 8px;
    color: #333;
    background-color: #f9f9f9;
    box-sizing: border-box;
}

/*Style des champs du formulaire */
input[type="number"],
button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
}

/*Focus sur les champs de la saisie*/
input[type="number"]:focus,
input[type="color"]:focus,
button:focus{
    outline: none;
    border: color #007bff;
    background-color: #e6f1ff;
}

/* Style du bouton */
button{
    background-color: #007bff;
    color: white;
    border:none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

button:hover {
    background-color:#0056b3;
}

/* Style de l'image générée */
img{
    display: block;
    max-width: 100%;
    margin: 20px auto; 
}

