<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Résultat du motif</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Motif généré avec succès ! </h1>
    <img src="{{ url_for('static', filename=chemin_image ) }}" alt="Motif généré">
    <br> {# break <=> saut de ligne. Il n'y a pas besoin de fermer cette balise#}
    <a href="{{ url_for('geogen.index') }}"> Revenir à l'écran d'accueil</a>
</body>
</html>