<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Générateur de Motifs</title>
    
</head>
    <body>
        <h1 style="font-style:initial; color:brown; font-weight:500; text-decoration:underline ; text-align: center;"> Générer un motif géométrique</h1>
    <form action="/generer_motif" method="POST">
        <label> Nombre de côtés : </label>
        <input type= "number" name="cotes" required>
    
    <label>Profondeur ( répétitions ) : </label>
    <input type="number" name="profondeur" required>

<label>Taille initiale:</label>
<input type="number" name="taille" required>
<label> Angle de rotation : </label>
<input type="number" name="angle_de_rotation" required>
<label> Couleur : </label>
<input type="color" name="couleur" value="#0000ff">  {#commentaire (fichier html) : modèle RVB #}

<button type="submit">Générer</button>
</form>
</body>
</html>